numpy==1.15.0
pandas==0.23.4
streamlit==0.60.0
xlrd==1.2.0
yfinance
seaborn
matplotlib.pyplot
pickle
sklearn.preprocessing 
mlxtend.frequent_patterns
sklearn.ensemble
sklearn
boruta
sklearn.feature_selection
sklearn.preprocessing
tqdm
sklearn.model_selection
sklearn.metrics
sklearn.tree
sklearn.naive_bayes
sklearn.ensemble
sklearn.metrics 
sklearn.svm
kmodes.kmodes
imblearn
warnings
